<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PimBiomedicina.Properties.Settings.pimConnectionString"
            connectionString="Data Source=MARIANE;Initial Catalog=pim;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="PimBiomedicina.Properties.Settings.testepimConnectionStringP"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=testepim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>